.holder{
    background-color: aquamarine;
    margin-left: 10px;
    margin-top: 20px;
}
#head{
    position: absolute;
    width: 200px;
    height: 100px;
    margin-top:50px;
    margin-left:100px;
    background-color: yellowgreen;
    border: none;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
#body{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    margin-top: 180px;
    margin-left:100px;
    border: none;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
#hand{
    position: absolute;
    width: 40px;
    height: 120px;
    background-color: yellowgreen;
    border: none;
    margin-top: 190px;
    margin-left: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
#hand-right{
    position: absolute;
    width: 40px;
    height: 120px;
    margin-top: 190px;
    margin-left: 330px;
    background-color: yellowgreen;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
#foot-left{
    position: absolute;
    width: 40px;
    height: 120px;
    background-color: yellowgreen;
    margin-top: 350px;
    margin-left: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#foot-right{
    position: absolute;
    width: 40px;
    height: 120px;
    background-color: yellowgreen;
    margin-top: 350px;
    margin-left: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#eay{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50px;
    float: left;
    margin-left: 150px;
    margin-top: 100px;
}
#eayright{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50px;
    float: left;
    margin-left: 240px;
    margin-top:100px;
}
#shach{
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: yellowgreen;
    transform: rotate(-45deg);
    margin-left: 130px;
    margin-top: 20px;
}
#shachright{
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: yellowgreen;
    transform: rotate(45deg);
    margin-left: 270px;
    margin-top: 20px;
}


