#head{
    position: absolute;
    width: 200px;
    height: 100px;
    margin-top: 22%;
    margin-left: 39.9%;
    background-color: yellowgreen;
    border: none;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
#body{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    margin-top: 30%;
    margin-left: 40%;
    border: none;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
#hand{
    position: absolute;
    width: 40px;
    height: 120px;
    background-color: yellowgreen;
    border: none;
    margin-top: 430px;
    margin-left: 36%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
#hand-right{
    position: absolute;
    width: 40px;
    height: 120px;
    margin-top: 430px;
    margin-left: 55%;
    background-color: yellowgreen;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
#foot-left{
    position: absolute;
    width: 40px;
    height: 120px;
    background-color: yellowgreen;
    margin-top: 42%;
    margin-left: 43%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#foot-right{
    position: absolute;
    width: 40px;
    height: 120px;
    background-color: yellowgreen;
    margin-top: 42%;
    margin-left: 48%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#eay{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50px;
    float: left;
    margin-left: 43%;
    margin-top: 25%;
}
#eayright{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50px;
    float: left;
    margin-left: 48%;
    margin-top:25%;
}
#shach{
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: yellowgreen;
    transform: rotate(-45deg);
    margin-left: 42%;
    margin-top: 20%;
}
#shachright{
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: yellowgreen;
    transform: rotate(45deg);
    margin-left: 52%;
    margin-top: 20%;
}
